@import "tailwindcss";

@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-roboto: 'Roboto', sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-roboto);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cinzel);
    font-weight: 400; /* Regular weight for Cinzel */
  }
}
